<div class="container">
  <div class="sidebar">
<div class="logo">
  <img src="74369582-régime-alimentaire-menu-icône.jpg" alt="">
  <span>Suivi-Regime</span>
</div>
    <nav>
      <ul>
        <li>
          <a routerLink="/journal" routerLinkActive="active" class="icon">
            <span class="material-symbols-outlined">
              menu
              </span>
            <span>Menu</span>
          </a>
          <a routerLink="/journal" routerLinkActive="active" class="icon">
            <span class="material-symbols-outlined">
              bookmark
              </span>
            <span>JOURNAL ALIMENTAIRE</span>
          </a>
          <a routerLink="/planification" routerLinkActive="active" class="icon">
            <span class="material-symbols-outlined">
              folder
              </span>
            <span>PLANIFICATION</span>
          </a>
          <a routerLink="/suivi" routerLinkActive="active" class="icon">
            <span class="material-symbols-outlined">
              speed
              </span>
            <span>SUIVI-OBJECTIF</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>


  <div class="contenu">
      <header>
        <div class="search">
          <input type="text" placeholder="Recherche...">
          <button type="button">Recherche</button>
        </div>
        <div class="user">
          <span class="material-symbols-outlined">mail</span>

          <div class="user-icon">
            <span>DIAKITE</span>
            <div class="user-i">
              <span class="material-symbols-outlined">person</span>
            </div>
          </div>
        </div>
      </header>

      <div class="router">

         <router-outlet></router-outlet>

      </div>
  </div>
</div>